
/*Преймущества*/

 .list-benefits {
  display: block;
  width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    
  }
  
  .list-item-benefits {
    display: block;
    width: 100%;

    
  }

  .list-item-benefits-svg {
    width: 70px;
    height: 70px;
    padding-top: 25px;
    padding-left: calc((50% - 35px));
    padding-bottom: 25px;
    padding-right: calc((50% - 35px));
    background-color: #f5f4fa;
    border-radius: 4px;
  
    margin-bottom: 30px;
  }

  
  .title-benefits {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-dark-words-color;
  
    margin-bottom: 10px;
  }
  
  .description-benefits {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $title-gray-words-color;
  
    margin: 0px;
  }
  
  
  @media screen and (max-width: 767px) {

    .list-item-benefits-svg {
        margin-bottom: 30px;
      }

    .list-item-benefits:not(:last-child) {
        margin-bottom: 30px;
      }
  }
    
  @media screen and (min-width: 768px) {
        
        .list-benefits {
          display: flex;
          flex-wrap: wrap;
        }

        .list-item-benefits {
          width:354px;
      
          &:nth-child(-n + 2) {
            margin-bottom: 30px;
          }

          &:nth-child(2n + 1) {
            margin-right: 30px;
          }
        }


        .list-item-benefits-svg {
         
        }
      }