/*Стили для страницы портфоли "Portfolio.html"*/

.header-portfolio {
    border-bottom: 1px solid #ececec;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /*Кнопки*/
  .btn-wrapper {
    padding-top: 60px;
  }
  
  .btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .btn-list-item:not(:last-child) {
    margin-right: 8px;
  }

  .button {
    height: 38px;
    border: none;
    border-radius: 4px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-dark-words-color;
  
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
    color: $title-light-words-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    }
  }
  
  
  
  /*Портфолио ГАЛЕРЕЯ*/
  .list-portfolio {
    margin-bottom: 60px;

    li {
      height: 404px;
      margin-bottom: 30px;

    }
  }

  .link-portfolio {
    display: block;
    height: 100%;
    text-decoration: none;
  }
  
  .list-item-portfolio {
    border: #eeeeee solid 1px;
    box-sizing: border-box;

    &:hover {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }

  .wrapper-opacity {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden; 

    img {
      display: block;
      width: 100%;
    }
  }
  
  
  .desc-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(33, 150, 243, 0.9);
  
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(135%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    font-weight: 400;
    font-size: 15px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $title-light-words-color;
   }

   @media screen and (min-width: 350px) {
    .desc-portfolio {
      font-size: 18px;
   }
  }
  
  .link-portfolio:hover .desc-portfolio {
    transform: translateY(0%);
  }
  
  .title-portfolio {
    margin-bottom: 4px;
    margin-left: 24px;
  
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-dark-words-color;
  }
  
  .text-portfolio {
    margin: 0px;
    margin-left: 24px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $title-gray-words-color;
  }
  @media screen and (max-width:480px) {
    .btn-list-item {
      margin-top: 15px;
    }
  }

  @media screen and (max-width:767px) {
    .btn-list-item:nth-last-child(-n + 2) {
      margin-top: 15px;
    }
  .btn-list-item:nth-child(3) {
    margin-right: 0px;
  }  

  .btn-list {
    margin-bottom: 40px;
  }

  .list-item-portfolio {

    &:nth-child(3n) {
      margin-right: 0px;
    }
    
    &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
      }
  }
}
  @media screen and (min-width:768px) {
   .header {
     border-bottom: 1px solid #ECECEC;
  }

  .list-portfolio {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-opacity > img {
    width: 354px;
  }

  .list-item-portfolio {
    border: none ;
  
    &:nth-child(2n+1) {
      margin-right: 30px;
    }
  }
  .btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}


@media screen and (min-width:1200px) {
  .list-item-portfolio {
    border: none ;
    margin-right: 30px;
  
    &:nth-child(3n) {
      margin-right: 0px;
    }
}
}